version: '2'

services:
    api:
        container_name: opgdigidepsdocker_api_1
        build: .
        ports:
            - 8090:443
        links:
            - postgres
            - redisapi
        volumes:
            - ./log:/var/log
            - ./src:/app/src
            - ./scripts:/app/scripts
            - ./tests:/app/tests
            - ./app/config:/app/app/config
            - ./app/DoctrineMigrations:/app/app/DoctrineMigrations
            - ./web:/app/web
        env_file:
            - ./docker/env/api.env
        restart: always
        networks:
            - default
            - opg-digi-deps-client_default

    postgres:
        container_name: opgdigidepsdocker_postgres_1
        image: postgres:9.6
        ports:
            - 5432:5432
        env_file:
            - ./docker/env/postgres.env
        environment:
            # use a different data directory to avoid using the old 9.3 version
            PGDATA: /var/lib/postgresql96/data
        restart: always
        networks:
            - default
            - opg-digi-deps-client_default

    redisapi:
        container_name: opgdigidepsdocker_redisapi_1
        image: redis:2.8.21
        restart: always

networks:
    opg-digi-deps-client_default:
        external: true
